<div class="jumbotron">
    <h2>'<span class="story-title">{{title}}</span>' is starting to get into shape.</h2>
    <p>Go on, add more to it... or just let a friend release his creativity!</p>
    <div class="fragments"></div>
    <div class="input-group">
        <input type="text" class="form-control fragment-content" placeholder="The fat cat was slowly waking up, streching his legs in the sun-bathed corner of the house.">
        <span class="input-group-btn">
            <button class="btn btn-default has-spinner go-button" type="button">
                <span class="content">Go</span>
                <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
        </span>
    </div><!-- /input-group -->
</div>