<div class="jumbotron">
    <h2>Welcome to <i>What's Your Story</i>!</h2>
    <p>Let's get started and be creative by coming up with a title for your story. That's the hardest part, we promise :)</p>
    <div class="input-group">
        <input type="text" class="form-control story-title" placeholder="Give your story a title, e.g. 'How I went to the work and ended up downloading stupid applications to my mobile'">
        <span class="input-group-btn">
            <button class="btn btn-default has-spinner go-button" type="button">
                <span class="content">Go</span>
                <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
        </span>
    </div><!-- /input-group -->
</div>
<div class="story-list-container"></div>