<div class="jumbotron">
    <h2>Woooow! Your story '<span class="story-title">{{title}}</span>' was created!</h2>
    <p>Now for the fun part. Write anything you like, trust your creative forces!</p>
    <div class="input-group">
        <input type="text" class="form-control fragment-content" placeholder="It was a glorious morning, the birds whispered a lullaby.">
        <span class="input-group-btn">
            <button class="btn btn-default has-spinner go-button" type="button">
                <span class="content">Go</span>
                <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
        </span>
    </div><!-- /input-group -->
</div>