// colors
$black: #000000;
$white: #ffffff;

$main-background-color: #58488a;
$main-foreground-color: #c7c0de;

// font sizes
$x-large: 4rem;
$large: 3rem;
$medium: 2rem;
$small: 1rem;
$regular: 1.4rem;
$x-small: 0.5rem;

// Override font-awesome fonts path
$fa-font-path: "../bower_components/font-awesome/fonts";